//- index.pug
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title  MyInterior.com
  link(rel='stylesheet' href='static/style.css')
  link(rel='stylesheet' href='static/phone.css')
  link(rel='stylesheet' media='screen and (max-width: 1170px)' href='css/phone.css')
  link(href='https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap' rel='stylesheet')
nav#navbar
  #logo
    img(src='static/logo1.png' alt='MyInterior.com')
  ul
    li.item
      a(href='#home') Home
    li.item
      a(href='#product-container') Our Work 
    li.item
      a(href='#product1-container') Our Products
    li.item
      a(href='#why-container') Why We
    li.item
      a(href='#services-container') Reviews
    li.item
      a(href='#about-container') About Us
    li.item
      a(href='#contact') Contact Us
section#home
   
  img.responsive(src='static/bg1.webp' alt='Nature' width='600' height='400')
   

section#quote-container
  h1.h-primary.center Which one are you? We&rsquo;ll help you find your style!
  #quote
    .box
      img(src='static/quote.png' alt='')
      h2.h-secondary.center Let us do what we do best &ndash; get to know you and your unique style.
      p.center
        | If you&rsquo;re not happy, we&rsquo;re not happy. We work tirelessly to make sure your Havenly experience
        | is delightful. That&rsquo;s why we offer the Havenly Happiness Guarantee.You deserve a home that is functional and
        | stylish, today. Don&rsquo;t put it off until the kids are older or you have more time. We can create a beautiful
        | space that fits your needs so you don&rsquo;t have to be embarrassed to host book club next month.We believe that
        | interior design should be accessible to everyone. That&rsquo;s why Havenly packages are designed to be affordable,
        | and our designers are trained to work within your budget.
section#product-container
  h1.h-primary.center Mind if we show off?
  style.
    body {
    font-family: Arial;
    margin: 0;
    }
    * {
    box-sizing: border-box;
    }
    img {
    vertical-align: middle;
    }
    /* Position the image container (needed to position the left and right arrows) */
    .container {
    position: relative;
    }
    /* Hide the images by default */
    .mySlides {
    display: none;
    }
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
    cursor: pointer;
    }
    /* Next & previous buttons */
    .prev,
    .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }
    /* Container for image text */
    .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    /* Six columns side by side */
    .column {
    float: left;
    width: 16.66%;
    }
    /* Add a transparency effect for thumnbail images */
    .demo {
    opacity: 0.6;
    }
    .active,
    .demo:hover {
    opacity: 1;
    }
  h4(style='text-align:center')
    | We bring you creative home design products that work together beautifully to form
    | inspired living spaces. Get thoughtful home interior design elements that add real and lasting value to your
    | interiors!
  .container
    .mySlides
      .numbertext 1 / 6
      img(src='static/img1.jpg' style='width:100%')
    .mySlides
      .numbertext 2 / 6
      img(src='static/img2.jpg' style='width:100%')
    .mySlides
      .numbertext 3 / 6
      img(src='static/img3.jpg' style='width:100%')
    .mySlides
      .numbertext 4 / 6
      img(src='static/img4.jpg' style='width:100%')
    .mySlides
      .numbertext 5 / 6
      img(src='static/img5.jpg' style='width:100%')
    .mySlides
      .numbertext 6 / 6
      img(src='static/img6.jpg' style='width:100%')
    a.prev(onclick='plusSlides(-1)') &#x276E;
    a.next(onclick='plusSlides(1)') &#x276F;
    //
      <div class="caption-container">
      <p id="caption"></p>
      </div>
    .row
      .column
        img.demo.cursor(src='static/img2.jpg' style='width:100%' onclick='currentSlide(2)' alt='')
      .column
        img.demo.cursor(src='static/img3.jpg' style='width:100%' onclick='currentSlide(3)' alt='')
      .column
        img.demo.cursor(src='static/img4.jpg' style='width:100%' onclick='currentSlide(4)' alt='')
      .column
        img.demo.cursor(src='static/img6.jpg' style='width:100%' onclick='currentSlide(6)' alt='')
  script.
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }
    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";

    dots[slideIndex - 1].className += " active";
    captionText.innerHTML = dots[slideIndex - 1].alt;
    }
section#product1-container
  h3.h-primary1.center
    | Just have a quick look at designs
  style.
    body {
    font-family: Verdana, sans-serif;
    margin: 0;
    }
    * {
    box-sizing: border-box;
    }
    .row>.column {
    padding: 0 8px;
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    .column {
    float: left;
    width: 25%;
    }
    /* The Modal (background) */
    .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    }
    /* Modal Content */
    .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    }
    /* The Close Button */
    .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    }
    .close:hover,
    .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
    }
    .mySlides {
    display: none;
    }
    .cursor {
    cursor: pointer;
    }
    /* Next & previous buttons */
    .prev,
    .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }
    img {
    margin-bottom: -4px;
    }
    .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
    }
    .demo {
    opacity: 0.6;
    }
    .active,
    .demo:hover {
    opacity: 1;
    }
    img.hover-shadow {
    transition: 0.3s;
    }
    .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  h2(style='text-align:center')
    | Welcome to our compendium of cleverly designed spaces, an insight into the latest
    | trends, designers and brands 
    u
      i click image to know more...
  .row
    .column
      img.hover-shadow.cursor(src='static/homed1.jpg' style='width:100%' onclick='openModal();currentSlide(1)')
    .column
      img.hover-shadow.cursor(src='static/homed11.jpg' style='width:100%' onclick='openModal();currentSlide(2)')
    .column
      img.hover-shadow.cursor(src='static/homed111.jpg' style='width:100%' onclick='openModal();currentSlide(3)')
    .column
      img.hover-shadow.cursor(src='static/homed1111.jpg' style='width:100%' onclick='openModal();currentSlide(4)')
  #myModal.modal
    span.close.cursor(onclick='closeModal()') &times;
    .modal-content
      .mySlides
        .numbertext 1 / 4
        img(src='static/interior1.jpg' style='width:100%')
      .mySlides
        .numbertext 2 / 4
        img(src='static/interior2.jpg' style='width:100%')
      .mySlides
        .numbertext 3 / 4
        img(src='static/interior3.jpg' style='width:100%')
      .mySlides
        .numbertext 4 / 4
        img(src='static/interior4.jpg' style='width:100%')
      a.prev(onclick='plusSlides(-1)') &#x276E;
      a.next(onclick='plusSlides(1)') &#x276F;
      .caption-container
        p#caption
      .column
        img.demo.cursor(src='static/interior1.jpg' style='width:100%' onclick='currentSlide(1)' alt='')
      .column
        img.demo.cursor(src='static/interior2.jpg' style='width:100%' onclick='currentSlide(2)' alt='')
      .column
        img.demo.cursor(src='static/interior3.jpg' style='width:100%' onclick='currentSlide(3)' alt='')
      .column
        img.demo.cursor(src='static/interior4.jpg' style='width:100%' onclick='currentSlide(4)' alt='')
  script.
    function openModal() {
    document.getElementById("myModal").style.display = "block";
    }
    function closeModal() {
    document.getElementById("myModal").style.display = "none";
    }
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }
    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    captionText.innerHTML = dots[slideIndex - 1].alt;
    }
section#image-grid
  style.
    * {
    box-sizing: border-box;
    }
    body {
    margin: 0;
    font-family: Arial;
    }
    .header {
    text-align: center;
    padding: 32px;
    }
    .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    }
    /* Create four equal columns that sits next to each other */
    .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    }
    .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    }
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
    .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
    }
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
    .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
    }
  // Header
  .header
    h1 Bring your dream home interior to life with our design experts.
  // Photo Grid
  .row
    .column
      img(src='static/G1.jpg' style='width:100%')
      img(src='static/G2.jpg' style='width:100%')
    .column
      img(src='static/G3.jpg' style='width:100%')
      img(src='static/G4.jpg' style='width:100%')
    .column
      img(src='static/G5.jpg' style='width:100%')
      img(src='static/G6.jpg' style='width:100%')
    .column
      img(src='static/G7.jpg' style='width:100%')
      img(src='static/G8.jpg' style='width:100%')
section#why-container
  h1.h-primary.center why we?
  #why
    .box
      img(src='static/w1.jpg' alt='')
      h2.h-secondary.center MATERIAL WARRANTY
      p.center
        | Choose interiors designed with superior quality material, leaving no room for defects.
    .box
      img(src='static/W3.png' alt='')
      h2.h-secondary.center 900+ DESIGN EXPERTS
      p.center
        | Explore design ideas and co-create your dream home with our experienced designers
    .box
      img(src='static/w2.png' alt='')
      h2.h-secondary.center 6500+ HOMES COMPLETED
      p.center
        | Complete your design journey and get unwavering support from our dedicated care team.
section#whyyyy
  style.
    .responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    }
  img.responsive(src='static/whynew.PNG' alt='Nature' width='600' height='400')
section#thought-container
  #thoughtoftheday
    .box
      img(src='static/thought.png' alt='')
      h2.h-secondary.center Get in touch with us to design your dream home
      h5.h-primary1.center Talk to our design expert and get your designs
      p.center
        | Our designers thoughtfully source a selection of products, just for you. We partner with an
        | extensive list of sought-after brands, up-and-coming retailers, and local artisans to ensure that every design
        | is uniquely tailored to your style, your needs and your budget.
section#people
  style.
    .responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    }
  img.responsive(src='static/people.jpg' alt='Nature' width='600' height='400')
section#services-container
  h1.h-primary.center Our Happy Customers 
  h2.h-primary1.center HAVE A LOOK AT WHAT OUR RAVING FANS HAVE TO SAY 
  #services
    .box
      img(src='static/customer1.png' alt='')
      h2.h-secondary.center Got my style
      p.center
        | I worked with Casey from HCC designs and the entire process was actually enjoyable. She
        | immediately &quot;got&quot; my style and knew what would work with my lifestyle and budget. She responded back to my
        | questions and concerns
        | immediately and made appropriate adjustments when necessary. I look forward to using her services in the
        | future and am thrilled about my new space!&rdquo;
        | Erin Y.
    .box
      img(src='static/customer2.png' alt='')
      h2.h-secondary.center Wonderful experience
      p.center
        | &quot;It was a wonderful experience. Jessica, my designer, asked me questions that I would never
        | ask myself ... It&apos;s such an inspiring and enjoyable space that I can&apos;t stay away from it. it was a great
        | experience for me .It really has showed me what good design can do for a space.. I highly recommend this
        | service to people who want a beautiful, comfortable space,
    .box
      img(src='static/customer3.png' alt='')
      h2.h-secondary.center Could not have been easier
      p.center
        | &ldquo;I worked with Mikayla Keating to do my living room and bedroom. The process could not have
        | been easier.It was a really great experience for me and my family Mikayla was an absolute dream to work
        | with&mdash;she clearly took into account my feedback throughout
        | the entire process, and perfectly captured my vision for my space. . Decorist&apos;s reasonable pricing was worth
        | every single
        | penny.&rdquo;
section#advertisement
  style.
    .responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    }
  img.responsive(src='static/advertisement.webp' alt='Nature' width='600' height='400')
section#uniquecontainer
  h1.h-primary.center Even Simpler Than You Think 
  h1.h-primary1.center How It works? 
  #unique
    .box
      img(src='static/u1.png' alt='')
      h2.h-secondary.center Tell us what you need
      p.center
        | Pick a room, set your budget and tell us about your Pinterest worthy dreams &ndash; whether a full
        | overhaul, or just some ideas to pull it together.
    .box
      img(src='static/u2.png' alt='')
      h2.h-secondary.center  We start Kicking Off Your Project
      p.center
        | After getting matched, your designer will message you and to work on ideas before
        | sending your initial concepts to rate and review.
    .box
      img(src='static/u3.png' alt='')
      h2.h-secondary.center Visualize Your New Room And Shop
      p.center
        | Your designer incorporates feedback into the final room design and layout with a personalized
        | list of furniture and accessories to shop all online.
section#price
  style.
    .responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    }
  img.responsive(src='static/price.PNG' alt='Nature' width='600' height='400')
section#about-container
  #about
    .box
      // <img src="thought.webp" alt="">
      h2.h-secondary.center  About Us
      p.center
        | Welcome to our compendium of cleverly designed spaces, an insight into the latest trends,
        | designers and brands that are shaping the global interiors scene, and giving us a taster of things to come for
        | the modern and contemporary home. Take a peek inside private residential boltholes, explore sublime showrooms
        | and choose your next elegant co-working space or eatery to visit. Whether it&rsquo;s mid-century modern,
        | Scandinavian minimalism, or opulent Italian styles that tickle your design taste, we have scoured the globe to
        | bring you contemporary ideas on to how to design the perfect modern home. we bring together functionality and
        | aesthetics to provide homeowners with customised and
        | efficient home designs. Our designers specialise in home interior designs and home d&eacute;cor, and help you create
        | a personalised home to suit your lifestyle. From sophisticated living room designs to space-saving and
        | clutter-free interior designs, we are here to help you find the best home decor and home design to match your
        | needs and style. All our products come with a 5-year warranty along with unwavering support and maintenance
        | services. Explore thousands of inspiring interior designs or get a free estimate &ndash; it&apos;s all here on
        | HomeLane.com, your one stop for complete home interiors.
section#appeal
  style.
    .responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    }
  img.responsive(src='static/appeal1.PNG' alt='Nature' width='600' height='400')
section#startwork
  style.
    .responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    }
  img.responsive(src='static/download.png' alt='Nature' width='600' height='400')
section#contact
  h1.h-primary.center Contact Us
  #contact-box
    form.container(action='/contact ' method='post')
      .form-group
        label(for='name') Name: 
        input#myinput.myinput(type='text' name='name' placeholder='Enter your name ')
      .form-group
        label(for='email') Email: 
        input#myinput.myinput(type='text' name='email' placeholder='Enter your email id ')
      .form-group
        label(for='phone') Phone Number: 
        input#myinput.myinput(type='text' name='age' placeholder='Enter your phome number ')
      .form-group
        label(for='message') Message: 
         input#myinput.myinput(type='text' name='gender' placeholder='Enter your message ')
      button.btn Submit
footer
  .center
    | Copyright &copy; www.MyInerior.com. All rights reserved! Ashutosh Suryawanshi
    
    script
      include ../static/index.js